body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
}

#mapContainer {
    position: relative;
    width: 960px;
    height: 600px;
    overflow: hidden;
}

#searchContainer {
    position: absolute;
    top: 10px;
    left: 10px;
    z-index: 1000;
    display: flex;
    flex-direction: column;
    background: rgba(255, 255, 255, 0.9);
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

#searchBar {
    padding: 10px;
    font-size: 14px;
    width: 250px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

#suggestions {
    border: transparent;
    border-radius: 4px;
    max-height: 150px;
    overflow-y: auto;
    background-color: white;
    position: absolute;
    top: 50px;
    width: 250px;
    z-index: 1001;
}

.suggestion-item {
    padding: 10px;
    cursor: pointer;
}

.suggestion-item:hover {
    background-color: #f0f0f0;
}

#directionsButton {
    padding: 10px;
    font-size: 14px;
    cursor: pointer;
    background-color: #c31d12;
    color: white;
    border: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

#directionsButton:hover {
    background-color: #96150c;
}

iframe {
    width: 100%;
    height: 100%;
    border: none;
    border-radius: 10px;
    overflow-y: hidden;
    overflow-x: hidden;
}